* {
  margin: 0;

}

body {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: normal;
}

h2 {
  margin-bottom: 50px;
}

h3 {
  font-weight: 300;
  margin: 10px 0;
}

hr {
  margin: 50px 0;
  width: 70%;
  opacity: 0.2;
}

#bienvenue {
  display: none;
}

#text {
  font-family: 'Permanent Marker', cursive;
  font-size: 7rem;
  text-align: center;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul.topnav li.icon {
  display: none;
}

#mescomp {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin: 0 30px;
  text-transform: uppercase;
}

a:link {
   color: black;
   text-decoration: none;
}

a:visited {
   color: black;
   text-decoration: none;
}

a:hover {
   color: rgb(184, 184, 184);
   text-decoration: none;
}

a:active {
   color: rgb(92, 65, 255);
   text-decoration: none;
}

.block {
  display: none;
  width: 70%;
  text-align: center;
  margin: 30px 0;
}

.complete {
  display: none;
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

.dev {
  font-size: 3rem;
}

#real {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.realisations {
  height: 200px;
  width: 400px;
  border: 1px solid black;
  margin: 0 20px;
}

.explications {
  height: 80px;
  width: 400px;
  margin: 10px 10px;
}

#explications {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

#amour {
  margin-top: 30px;
}
                        /*MEDIA QUERIES*/

@media (max-width: 991px) {

  #text {
    font-size: 6.5rem;
  }

  body {
    font-size: 1.15rem;
  }

  li {
    font-size: 1.35rem;
    margin: 0 10px;
  }

  .dev {
    font-size: 4.5rem;
  }

  #real {
    flex-direction: column;
  }

  .realisations {
    height: 400px;
    width: 800px;
    margin: 15px 0;
  }

  #explications {
    display: none;
  }

  .resp {
    display: none;
  }
}
