* {
  margin: 0;
}

#text {
  font-family: 'Permanent Marker', cursive;
  font-size: 7rem;
  text-align: center;
}

#text {
  display: none;
}

#menu {
  display: none;
  text-align: center;
}

ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin: 0 30px;
  text-transform: uppercase;
}
